.open-banner {
  background-color: #1C2B4F;
  height: 50px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

.open-banner p {
  padding-top: 10px;
}

.modal {
    position: relative;
    top: 50%;
    left: 50%;

    display: none;

    width: 80%;

    padding: 40px;
  
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.37);
    border: 1px solid #1C2B4F;

    transform: translateX(-50%) translateY(-50%);
  }


.modal-close {
  display: inline;
  float: right;
  margin-top: 4px;
  padding-right: 10px;
  cursor: pointer;
  text-shadow: 1px 1px 2px gray;
  color: #1C2B4F;
}

.modal-content p {
  margin-top: 20px;
  text-align: left;
  color: #1C2B4F;
  margin-bottom: 20px;
}

.modal-content h3, label, a {
  color: #1C2B4F;
  z-index: 100000;
}

.modal-content a {
  font-size: small;
}

.modal-content a:hover {
  color: #510082;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  
  z-index: -1;
}